.edit-button {
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3em;
	height: 2em;
	border-radius: 2vh;
	cursor: pointer;

	&:hover {
		filter: brightness(1.05);
	}
}

.edit-button-icon {
	width: 1.5em;
	height: 1.5em;
}

.edit-user-modal-content {
	display: flex;
	flex-direction: column;
	align-items: center;

	& :not(:last-child) {
		margin-bottom: 1em;
	}
}
